.container{
  position: relative;
  /* @include background(center, 100% 100%, "bg.gif"); */
  /* background: #000 35% center/contain no-repeat url('../Header//bg.gif'); */
  background: url('../Header/bg.gif');
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
}


.response {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(5 * var(--view));
}

.response-heading {
    display: block;
    font-size: calc(36 * var(--view));
    line-height: calc(36 * var(--view));
    font-weight: bold;
    color: #412825;
}

.response-text {
    display: block;
    color: #523734;
    text-align: center;
    font-size: calc(30 * var(--view));
    line-height: calc(32 * var(--view));
    font-family: font;
    font-weight: bold;
}

.response-text-break {
    display: block;
    margin: calc(10 * var(--view)) 0;
}

.response-text-break-icon {
    width: calc(48 * var(--view));
    height: calc(48 * var(--view));
    object-fit: contain;
    display: inline;
    vertical-align: middle;
}

.response-text-break-text {
    font-family: font;
    font-weight: bold;
    font-size: calc(26 * var(--view));
    line-height: calc(26 * var(--view));
    padding-top: calc(7 * var(--view));
    padding-left: calc(5 * var(--view));
}

.response-score {
    display: inline-block;
    vertical-align: middle;
    height: calc(48 * var(--view));
    padding-left: calc(20 * var(--view));
    line-height: calc(50 * var(--view));
    font-size: calc(36 * var(--view));
    font-family: font;
    font-weight: bold;
    color: blue;
    /* Assuming $SecondaryColor is defined elsewhere */
}

.response-text-icon {
    display: inline;
    padding-bottom: calc(3 * var(--view));
    width: calc(44 * var(--view));
    height: calc(44 * var(--view));
    object-fit: contain;
    vertical-align: middle;
}

.response-fancy {
    font-family: font;
    font-weight: bold;
    background: #523730;
    padding: calc(15 * var(--view));
    border-radius: calc(12 * var(--view));
    margin: calc(10 * var(--view)) 0;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(260 * var(--view));
    color: #523734;
    width: calc(300 * var(--view));
    font-size: calc(28 * var(--view));
    line-height: calc(36 * var(--view));
}

.chances {
  min-width: calcView(200);
  height: calcView(80);
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-bottom: calcView(4);
  padding-right: calcView(30);
  color: yellow;
  white-space: pre;
  position: absolute;
  top: calcView(120);
  left: 50%;
  transform: translateX(-50%);
  @include background(center, 100% 100%, "chances.png");
}

.tile-pos {
  z-index: 2;
  width: calcView(120);
  height: calcView(120);
  @include background(center, contain, "tilesPosition.png");
  position: absolute;
  top: calcView(210);
  right: calcView(11);
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: calcView(6);
  color: yellow;
  font-size: calcView(22);
}

.firstTap {
  position: absolute;
  top: calcView(1000);
  z-index: 1;
  width: calcView(150);
}

.toast {
  z-index: 99;
  position: fixed;
  bottom: calcView(20);
  left: 50%;
  font-size: calcView(24);
  font-family: font2;
  background: #0000009a;
  white-space: pre;
  padding: calcView(10) calcView(20);
  border-radius: calcView(8);
  transform: translateX(-50%);
}




/* main css class selector */

.maingame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: calc(1151 * var(--view));
}

.maingame .tiles {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* margin-top: 9.5rem; */
  top: 10rem;
}

.maingame .tiles-tile {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.maingame .tiles-tile-single {
  display: flex;
  position: relative;
}

.maingame .tiles-tile-single img {
  width: calc(455 * var(--view));
  height: calc(195 * var(--view));
}

.maingame .tiles-tile .broken-tile {
  position: absolute;
  width: calc(451 * var(--view));
  height: calc(451 * var(--view));
  bottom: calc(-285 * var(--view));
}

.maingame .tiles-tile .broken-tile-2 {
  position: absolute;
  width: calc(335 * var(--view));
  height: calc(325 * var(--view));
  bottom: calc(-235 * var(--view));
}

.maingame .tiles-tile .tile-right {
  right: calc(-20 * var(--view));
}

.maingame .tiles-tile .tile-left {
  left: calc(-20 * var(--view));
  transform: scaleX(-1);
}

.maingame .tiles .finish-line {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100vw;
  height: calc(66 * var(--view));
  transform: translateX(-50%);
  opacity: 0.7;
  z-index: 7;
}

.maingame .tiles .from-start {
  top: 0%;
  width: 25vw;
  height: calc(14 * var(--view));
}

.maingame .absolute {
  position: absolute;
  z-index: 9;
  opacity: 0;
}

.maingame .mascot {
  z-index: 8;
  position: absolute;
  /* width: calc(300 * var(--view)); */
  /* height: calc(300 * var(--view)); */
  width: 35%;
  height: 25vh;
  object-fit: contain;
  /* left: 50% !important; */
  /* bottom: -66vw !important; */
  bottom: -66vw;
  transform: translateX(-50%);
}

.maingame .mascot-1,
.maingame .mascot-2,
.maingame .mascot-3,
.maingame .mascot-4,
.maingame .mascot-5,
.maingame .mascot-6,
.maingame .mascot-7,
.maingame .mascot-8,
.maingame .mascot-9,
.maingame .mascot-10,
.maingame .mascot-11,
.maingame .mascot-12,
.maingame .mascot-13,
.maingame .mascot-14,
.maingame .mascot-15,
.maingame .mascot-16,
.maingame .mascot-17,
.maingame .mascot-18 {
  left: 70%;
  /* bottom: calc(50 * var(--view)); */
  bottom: 20rem;
}

.maingame .mascot-19 {
  left: 68%;
  bottom: calc(180 * var(--view));
}

.maingame .mascot-20 {
  left: 65%;
  bottom: calc(280 * var(--view));
}

.maingame .mascot-21 {
  left: 62%;
  bottom: calc(360 * var(--view));
}

.maingame .mascot-22 {
  left: 60%;
  bottom: calc(430 * var(--view));
}

.maingame .mascot-23 {
  left: 58%;
  bottom: calc(490 * var(--view));
}

.maingame .mascot-24 {
  left: 57%;
  bottom: calc(530 * var(--view));
}

.maingame .mascot-25 {
  left: 56%;
  bottom: calc(570 * var(--view));
}

.maingame .mascot-26 {
  left: 50%;
  bottom: calc(600 * var(--view));
}

.maingame .isLeft {
  left: 30%;
}

.maingame .isLeft-19 {
  left: 30%;
  bottom: calc(180 * var(--view));
}

.maingame .isLeft-20 {
  left: 32%;
  bottom: calc(280 * var(--view));
}

.maingame .isLeft-21 {
  left: 36%;
  bottom: calc(360 * var(--view));
}

.maingame .isLeft-22 {
  left: 38%;
  bottom: calc(430 * var(--view));
}

.maingame .isLeft-23 {
  left: 40%;
  bottom: calc(490 * var(--view));
}

.maingame .isLeft-24 {
  left: 41%;
  bottom: calc(530 * var(--view));
}

.maingame .isLeft-25 {
  left: 42%;
  bottom: calc(570 * var(--view));
}

.maingame .isLeft-26 {
  left: 42%;
  bottom: calc(600 * var(--view));
}

.maingame .fall {
  transform: translate(-50%, 90%);
  opacity: 0;
}

/* controller css design */
.controller {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controller .check {
  width: 90%;
  margin-top: 10rem;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controller .check .chances-board {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1rem;
  padding-bottom: 2rem;
  /* background: url("../Header/Chances-to-play.png") center/no-repeat; */
  background: url('../Header/Chances-to-play.png');
  background-size: 100% 100%;
  width: 30%;
  height: 6vh;
}

.controller .check .chances-board input {
  color: white;
  width: 50%;
  height: 4vh;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  background: transparent;
  outline: none;
  border: none;
  user-select: none;
}

.controller .check .gear-board {
  width: 35%;
  height: 11vh;
  display: flex;
  /* background: url("gear-board.png") center/contain; */
  background: url('../Header/manual-auto-slider-bg.png');
  background-size: 100% 100%;
  align-items: center;
}

.controller .check .gear-board img {
  width: 54%;
  height: 8vh;
  transition: all 0.1s ease;
}

.controller .check .gear-board .left {
  /* margin-top: 3rem; */
  margin-left: 2.5rem;
}

.controller .check .gear-board .right {
  /* margin-top: 2rem; */
  /* margin-left: 2rem; */
}

.controller .jump-btn {
  z-index: 3;
  margin-top: 24rem;
  width: 40%;
  height: 4vh;
  filter: grayscale(0);
}

.controller .unactive {
  filter: grayscale(1);
}

/* mascot moving position */
.boy {
  z-index: 8;
  position: absolute;
  width: 35%;
  height: 25vh;
  object-fit: contain;
  bottom: -66vw;
  transform: translateX(-50%);
  animation-name: example;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 2s;
}

@keyframes example {
  0%   { bottom: -65vw; left: 41vw; }
  100% { left: -60vw; top: 45vw; }
}

@keyframes example1 {
  0%   { left: 20px; top: 0px; }
  100% { left: 100px; top: 0px; }
}

